// ==========================================================================
// Compass
// ==========================================================================
@import "compass";

// ==========================================================================
// Reset
// ==========================================================================
@import "base/reset";

// ==========================================================================
// Bootstrap
// ==========================================================================
@import "bootstrap";

// ==========================================================================
// Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
@import "layout/index";

// ==========================================================================
// Modules
// ==========================================================================
@import "modules/index";

// ==========================================================================
// States
// ==========================================================================
@import "states/index";

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
